* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: linear-gradient(135deg, #0d1117, #1f2937, #007acc, #22c55e);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
:root {
  --calc-bg: #333;
  --btn-bg: #444;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.calculadora {
  background: var(--calc-bg);
  padding: 20px;
  border-radius: 10px;
  width: 260px;
}

#visor {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: right;
  padding: 5px 10px;
  border: none;
  border-radius: 5%;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 45px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background: var(--btn-bg);
}

button:hover {
  opacity: 0.8;
}

.igual {
  grid-column: span 3;
}

.custom-color {
  margin-top: 8px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.custom-color input {
  margin-top: 8px;
  width: 50px;
  height: 35px;
  cursor: pointer;
  border: none;
  background: none;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 14px;
  opacity: 0.7;
  font-family: Arial, sans-serif;
}

.footer strong {
  color: blueviolet;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
